<div
  data-slot="card"
  class="bg-surface flex flex-col gap-6 rounded-pushak border py-6 shadow-sm group hover:shadow-md transition-shadow cursor-pointer"
>
  <div data-slot="card-content" class="p-4">
    <div class="flex items-start justify-between mb-3">
      <div
        class="h-12 w-12 rounded-pushak bg-bg-sidebar flex items-center justify-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-file-text h-6 w-6 text-primary"
          aria-hidden="true"
        >
          <path
            d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"
          ></path>
          <path d="M14 2v5a1 1 0 0 0 1 1h5"></path>
          <path d="M10 9H8"></path>
          <path d="M16 13H8"></path>
          <path d="M16 17H8"></path>
        </svg>
      </div>
    </div>
    <h3 class="font-medium text-sm mb-1 line-clamp-2 text-secondary">
      {{archivo.nombre_original}}
    </h3>
    <p class="text-xs text-secondary">
      {{archivo.id_usuario_subida__nombre_completo}}
    </p>
    <p class="text-xs text-secondary mt-1">
      {{archivo.fecha_subida|date:"d M Y"}}
    </p>
  </div>
</div>
